.bgcard{
    width: 500px;
    height: 250px;
    /* margin-left: ; */
    /* margin-right: 50%; */
    margin-top: 150px;
}
.sub{
    position: absolute;
    margin-top: 260px;
    margin-left: -520px;
    border-radius: 50%;
    background-color: rgb(250, 229, 229);
}
.plus{
    position: absolute;
    margin-top: 260px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: rgb(250, 229, 229);
}
.reset{
    position: absolute !important;
    margin-top: 410px !important;
    margin-left: -300px !important;
    background-color: rgb(250, 229, 229) !important;
}
.count{
    position: absolute;
    font-size: 100px;
    margin-left: 630px;
    margin-top: -200px;
    color: rgb(250, 229, 229);
}